<!-- Header.ejs -->

<div class="header" style=<%- `"border-bottom: 10px solid ${color};"` %> >
    <div class="lefthead">
    </div>
    <a href="/admin" style="text-decoration: none; color: white;">Tracker</a>
    <div class="righthead">
        <a href="/admin/accounts" style="text-decoration: none; color: white;">Accounts</a>
    </div>
</div>