body {
    margin: 0;
    height: 100vh;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    width: 90vw;
    height: 10%;
    padding: 0px 5vw;
    background-color: #333333;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: center;
}

.header > a {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.header > .righthead {
    text-align: right;
}

.main {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 85%;
}

.left {
    width:50%;
    padding: 40px 10px;
    overflow-y: scroll;
    /* height: 100%; */
}

.right {
    width:50%;
    border: 3px solid black !important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search, .results{
    margin: 20px 0px;
}

.results > h1 {
    font-size: 1.3em;
    font-weight: bold;
}

.search form, .results {
    display: flex;
    flex-direction: column;
}

input[type="date"] {
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 0.8em;
    width: 300px;
}

input[type="submit"] {
    padding: 5px 5px;
    font-size: 0.8em;
    width: 100px;
    background-color: #333;
    color: white;
}

th {
    background-color: #333;
    color: white;
    width: 20%;
    padding: 10px;
}

td { 
    text-align: center;
    padding: 8px;
}

table {
    border: 1px solid black;
    width: 100%;;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    .left {
        width: 100%;
    }

    .right {
        display: none;
    }
}

.createform {
    display: flex;
    flex-direction: column;
}

.createform > label {
    font-size: 1.3vw;
    font-weight: bold;
    margin-top: 1.3vw;
}

.createform > input {
    font-size: 1vw;
    border: 1px solid black;
    border-radius: 10px;
    height: 2vw;
    width: 15vw;
    margin-bottom: 0.5vw;
}

.hoverhide {
    color: black;
    background-color: black;
    user-select:none;
}

.hoverhide:hover {
    background-color: transparent;
    user-select:all;
}

button, input[type="submit"] {
    cursor: pointer;
}

.csv {
    background:
    conic-gradient(from 90deg at 3px 3px,rgb(174, 232, 174) 90deg,rgb(228, 228, 228) 0) 
    0 0/20px 20px;
    height: 46px;
    width: 146px;
    font-weight: bolder;
    font-size: 1em;
}